.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
**/*.map
.nyc_output
coverage/
**/*.ts
!out/**/*.js
tsconfig.json
**/.eslintrc.json
**/*.md
!README.md
!CHANGELOG.md
node_modules/
.github/
assets/*.sketch
**/*.vsix